<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Class - List</title>
</head>
<body>


    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://ik.imagekit.io/ztg2jcaeb0e/Untitled_YFdJN0T5YFRt.png" alt="" height="40" class="d-inline-block align-text-top">
                  </a>
                <!-- <img src="https://lh3.google.com/u/0/d/10PLiPlHVtDlO6OzY2izI5_f0qaLBwmTx=w1364-h913-iv1" height="50px"> -->
              <!-- <a class="navbar-brand" href="#">Navbar</a> -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/classes">Classes</a>
                  <a class="nav-link" href="/users/instructors">Instructors</a>
                  <a class="nav-link " href="/users/students">Students</a>
                  <a class="nav-link " href="/classes/myClasses">My Classes</a>
                  <a class="nav-link " href="/logout">Log Out</a>
                </div>
              </div>
            </div>
          </nav>
    </div>

    <!-- <ul>
        <li style="display: inline;"><a href="/classes">Class</a></li>
        <li style="display: inline;"> | </li>
        <li style="display: inline;"> <a href="/users/instructors">Instructor</a></li>
        <li style="display: inline;"> | </li>
        <li style="display: inline;"><a href="/users/students">Student</a> </li>
        <li style="display: inline;"> | </li>
        <li style="display: inline;"><a href="/logout">Logout</a> </li>
    </ul>
    <hr> -->
    <h1 style="margin-left: 5%; margin-right: 5%;">List Class</h1>
    <hr>
    <a href="/classes/add" class="btn btn-success" style="margin-bottom: 25px; margin-left: 5%;">Add Class</a>

    <div class="row row-cols-sm-6" style="margin-left: 5%; margin-right: 5%;">
        <% listClass.forEach((el , i) => { %> 
        <div class="card" >
            <img src="https://ik.imagekit.io/ztg2jcaeb0e/kelas_online_terbuka_1__4Jx9hPFqDKm3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=el.name_class%></h5>
              <h6 class="card-title">by: <%=el.owner.name%></h6>
              <h6 class="card-title">level: <%=starMaker(el.level)%></h6>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p class="card-text">Sisa quota: <%=el.quota%></p>
              
              <a href="/classes/<%=el.id%>/enroll" class="btn btn-primary">enroll</a>
              
            </div>
        </div>
        <%})%>

    </div>

    <% if (err) { %>
     <script>        
        alert('<%= err%>')
    </script>       
    <% } %> 



</body>
</html>